.app-header {
  background: #fff;
  border-bottom: 1px solid #c1cedb;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.app-header__user-info {
  display: flex;
  align-items: center;
}

.logout-button {
  background: url(/assets/img/logout.svg) no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: block;
  opacity: 0.4;
  fill: blue;
  cursor: pointer;
  margin-right: 50px;
}

.app-header__user-info span:hover {
  opacity: 0.9;
}
